<div class="contain">
<section id="footer" class="hidden">
    <div class="footer-left">
      <p class="center-text">Téléchargez l'application d'une communauté dynamique et passionnée!</p>
      <div class="app-buttons center">
        <button class="button-apple">Disponible sur App Store</button>
        <button class="button-play-store">Disponible sur Google Play</button>
      </div>
    </div>
  
    <div class="footer-center">
      <p class="center-text">Suivez-nous sur les réseaux sociaux!</p>
      <div class="social-buttons center">
        <button class="button-instagram"></button>
        <button class="button-facebook"></button>
        <button class="button-twitter"></button>
      </div>
    </div>
  
    <div class="footer-right">
      <p class="center-text">Contactez-nous!</p>
      <p class="contact-info">Email: <a href="mailto:yalla_event@gmail.com">yalla_event@gmail.com</a></p>
      <p class="contact-info">Téléphone: +216 70 156 789</p>
    </div>
  </section>
</div>