<!-- 
<form [formGroup]="reservation" (ngSubmit)="onSubmit()">
  <div class="logo-container">
    <img src="assets\logo.png" alt="Logo" class="logo">
  </div>
  <label for="name">Votre nom:</label>
  <input type="text" id="name" formControlName="name">
  <label>Comment voulez-vous payer ?</label>
  <div>
    <label>
      <input type="radio" formControlName="paymentMethod" value="on-site"> sur place
    </label>
  </div>
  <div>
    <label>
      <input type="radio" formControlName="paymentMethod" value="online"> en ligne
    </label>
  </div>
  <button type="submit" [disabled]="!reservation.valid ">Réservez votre place</button>
</form>
<app-paiement *ngIf="showPaymentForm"></app-paiement>





   -->

   <div class="form-container">
    <div class="form-header">
      <!-- <img src="assets/logo.png" alt="Logo" class="header-image"> -->
      
      <h3>Réserver votre place </h3>
    </div>
  
    <div class="form">
  <form #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm)" class="container mt-4">
      <div>
        <label for="nom">Nom</label>
        <input type="text" id="nom" name="nom" [(ngModel)]="nom" #titreNgModel="ngModel" class="form-control" required>
        <div *ngIf="titreNgModel.errors?.['required'] && (titreNgModel.dirty || titreNgModel.touched)" class="error-message">
          Le nom est obligatoire !
        </div>
      </div>
    
  
    
      
    
      <div>
        <label for="nombre_place">Nombre de place:</label>
        <div style="margin-top: 10px;">
        <input type="number" id="nombre_place" name="nombre_place" [(ngModel)]="nombre_place" #capaciteNgModel="ngModel" class="form-control"  >
        <div *ngIf="capaciteNgModel.errors?.['capaciteInvalid']" class="error-message">
          La nombre de place  ne peut pas être 0 !
        </div>
        <div *ngIf="capaciteNgModel.errors?.['required']" class="error-message">
          La nombre de place ne peut pas  être vide !
        </div>
        </div>
      </div>
    
     
    
    
    
      <div>
        
        <label for="categorie">Type de paiement</label>
        <div style="margin-top: 10px;">
        <select id="type_paiment" name="type_paiment" [(ngModel)]="type_paiment" class="form-control" class="form-control" required>
          <option value="concert">Paiement en ligne </option>
          <option value="Festival">Paiement sur place</option>
         
        </select>
        <div *ngIf="eventForm.controls['categorie'].hasError('required') && (eventForm.controls['categorie'].dirty || eventForm.controls['categorie'].touched)" class="error-message">
          La paiement est obligatoire !
        </div>
      </div>
      </div>
    
      
    
      <div style="margin-top: 20px;" >
        <button type="submit" [disabled]="!eventForm.valid" class="btn btn-outline-light">Soumettre</button>
      </div>
  
      
    </form>
  
  </div>
    
  </div>